global_defs {
  router_id {{ hostname }}
}
vrrp_script haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}
vrrp_instance 50 {
  virtual_router_id 50
  advert_int 1
  strict_mode off
  priority 101
  state {{ state }}
  interface wlan0
  virtual_ipaddress {
    {{ ip }}/24 dev wlan0
  }
  track_script {
      haproxy
  }
}
